.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .comment-form-head {
    flex-flow: row;
    background-color: var(--color-canvas-subtle);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .comment-form-head .toolbar {}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .tabnav-tabs {
    background-color: var(--color-canvas-subtle);
    border-radius: 6px 6px 0px 0px;
    overflow: visible;
    border-bottom: solid 1px var(--color-border-default);
    overflow: visible
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .tabnav-tab.selected {
    margin-bottom: -1px;
    border-bottom: solid 1px var(--color-canvas-default);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .tabnav-content {
    display: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- .tabnav-content.selected {
    display: initial;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- textarea.comment-form-textarea {
    padding-top: 15px;
    padding-left: 15px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-linker-over {
    background-color: aqua;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar {
    top: 0;
    position: sticky;
    background-color: var(--color-canvas-default);
    border: solid 1px var(--color-border-default);
    border-radius: 6px;
    display: flex;
    flex-flow: row;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar .context {
    background-color: var(--color-canvas-subtle);
}

.pr-toolbar {
    flex-direction: column;
}