/* global */

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- button {
    user-select: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae---- svg {
    fill: currentColor;
}

/* github */

.hx_Layout.hx_Layout--sidebar-hidden {
    /* fix layout when files hidden, doesn't seem to have any impact */
    grid-auto-flow: column !important;
}

/* ui/visual */

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root>td {
    border: solid 2px transparent;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root.selected>td {
    border-left: solid 2px var(--color-attention-fg);
    border-right: solid 2px var(--color-attention-fg);
    border-radius: 10px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root .comment-form-head {
    flex-flow: row;
    background-color: var(--color-canvas-subtle);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root .tabnav-tabs {
    background-color: var(--color-canvas-subtle);
    border-radius: 6px 6px 0px 0px;
    overflow: visible;
    border-bottom: solid 1px var(--color-border-default);
    overflow: visible
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root .tabnav-tab.selected {
    margin-bottom: -1px;
    border-bottom: solid 1px var(--color-canvas-default);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root .tabnav-content {
    display: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root .tabnav-content.selected {
    display: initial;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-root textarea.comment-form-textarea {
    padding-top: 15px;
    padding-left: 15px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.visual-linker-over {
    background-color: aqua;
}

/*
.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar {
    top: 0;
    position: sticky;
    background-color: var(--color-canvas-default);
    border: solid 1px var(--color-border-default);
    border-radius: 6px;
    display: flex;
    flex-flow: row;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar .context {
    background-color: var(--color-canvas-subtle);
}

.pr-toolbar {
    flex-direction: column;
}
 */

/* ui/sidebar */

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar.collapsed {
    display: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar {
    top: 60px;
    position: sticky;
    background-color: var(--color-canvas-default);
    border: solid 1px var(--color-border-default);
    border-radius: 6px;
    display: flex;
    flex-flow: column;
    grid-column: auto;
    height: 90vh;
    max-width: var(--Layout-sidebar-width);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    overflow: scroll;
    /* limit scope of position:absolute on .marker-rail */
    position: relative;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol li.visual {
    display: flex;
    flex-flow: row;
    margin: 0;
    padding: 0px 5px 0px 0px;
    border: solid 2px transparent;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol li.visual.selected {
    border-left: solid 2px var(--color-attention-fg);
    border-right: solid 2px var(--color-attention-fg);
    border-radius: 8px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol li.droptarget {
    height: 10px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar.dragging ol li.droptarget {
    border: dashed 1px var(--color-accent-emphasis);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar.dragging ol li.droptarget.hover {
    border-color: var(--color-accent-emphasis);
    border-style: solid;
    background-color: var(--color-btn-outline-selected-bg);
}

/* .----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar.dragging li .content,
.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar.dragging li .content * {
pointer-events: none;
}

*/
/* .----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar li *:nth-child(1){ grid-co */

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .marker {
    align-self: center;
    cursor: pointer;
    font-size: 30px;
    user-select: none;
    margin-right: 5px;
    margin-left: -7px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .marker-rail {
    margin-left: initial;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: var(--color-canvas-subtle);
    color: var(--color-canvas-subtle);
    border: solid 1px var(--color-accent-subtle);
    border-left: none;
    font-size: 15px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .content {
    /* makes overflow of label work as expected ¯\_(ツ)_/¯ */
    display: grid;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .context {
    color: var(--color-fg-default);
    font-weight: 400;
    font-size: 0.75em;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .context>svg {
    vertical-align: text-bottom;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .label {
    overflow: hidden;
    text-overflow: ellipsis;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar ol .toolbar {
    /* align right in flex */
    margin-left: auto;
    display: flex;
    flex-flow: column;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.sidebar .header .toolbar.navbar {
    background: var(--color-canvas-subtle);
    display: flex;
    flex-flow: row;
    padding-left: 15px;
    border-bottom: 1px dashed var(--color-border-subtle);
}

/* ui/divider */

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider {
    grid-column: auto;
    width: 16px;
    cursor: pointer;
    user-select: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider .handle {
    height: 100%;
    position: relative;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider .line {
    width: 0px;
    height: 100%;
    margin-left: 7px;
    border-left: dashed 1px var(--color-border-muted);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider .handle:hover .line {
    border-left-color: var(--color-accent-fg);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider.dragging .line {
    border-left-style: solid;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider .handle:hover button,
.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider button:hover {
    color: var(--color-accent-fg);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider .handle button {
    margin-left: -1px;
    padding: 0;
    position: fixed;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider button[name="collapse"] {
    position: relative;
    background-color: var(--color-canvas-default);
    margin-left: -6px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider.collapsed .handle * {
    display: none;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.divider.collapsed button[name="collapse"] {
    position: static;
    transform: rotate(180deg);
}

/* ui/top-toolbar */

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar {
    margin-right: 20px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar button[name="settings"] {}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu {
    display: none;
    position: absolute;
    list-style-type: none;
    padding: 5px 5px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar:hover ol.menu {
    display: block;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu>li {
    margin-bottom: 0;
    padding: 5px 0px;
    border-bottom: dashed 1px var(--color-border-muted);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu>li:hover {
    background-color: var(--color-canvas-subtle);
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu>li:first-of-type {
    padding-top: 0px;
}

.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu>li:last-of-type {
    padding-bottom: 0px;
    border-bottom: none;
}


.----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar ol.menu>li button {
    margin-left: 0px;
}

body.----cc91a745-d35c-466f-9047-3f20031fb4ae----_edit-mode .----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar button[name="edit"] {
    display: none;
}

body:not(.----cc91a745-d35c-466f-9047-3f20031fb4ae----_edit-mode) .----cc91a745-d35c-466f-9047-3f20031fb4ae----.top-toolbar button[name="view"] {
    display: none;
}

/* edit mode */

body:not(.----cc91a745-d35c-466f-9047-3f20031fb4ae----_edit-mode) .edit-mode-only {
    display: none;
}